<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Edit Worker #<%= link @worker.id, to: Routes.worker_path(@conn, :show, @worker) %></h1>
  </div>

  <%= render "form.html", Map.put(assigns, :action, Routes.worker_path(@conn, :update, @worker)) %>
</div>
