<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="mb-3">
    <%= label f, :provider, class: "form-label" %>
    <%= select f, :provider, ["none", "hetzner"], class: "form-control" %>
    <%= error_tag f, :provider %>

    <%= label f, :remote_id, class: "form-label" %>
    <%= text_input f, :remote_id, class: "form-control" %>
    <%= error_tag f, :remote_id %>

    <%= label f, :ipv4, class: "form-label" %>
    <%= text_input f, :ipv4, class: "form-control" %>
    <%= error_tag f, :ipv4 %>

    <%= label f, :password, class: "form-label" %>
    <%= text_input f, :password, class: "form-control" %>
    <%= error_tag f, :password %>
  </div>

  <div>
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
