<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Workers</h1>
    <div class="mb-2 mb-md-0 mx-auto w-25 ms-2">
      <%= link "New Worker", to: Routes.worker_path(@conn, :new), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Provider</th>
          <th>Remote ID</th>
          <th>Status</th>
          <th>IPv4</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= for worker <- @workers do %>
        <tr>
          <td><%= worker.id %></td>
          <td><%= worker.provider %></td>
          <td><%= worker.remote_id %></td>
          <td><%= worker.status %></td>
          <td><%= worker.ipv4 %></td>

          <td>
            <span><%= link "Show", to: Routes.worker_path(@conn, :show, worker), class: "btn btn-info btn-sm" %></span>
            <span><%= link "Edit", to: Routes.worker_path(@conn, :edit, worker), class: "btn btn-warning btn-sm" %></span>
            <span><%= link "Delete", to: Routes.worker_path(@conn, :delete, worker), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %></span>
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7"><%= link "New Worker", to: Routes.worker_path(@conn, :new), class: "btn btn-primary" %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</main>
