<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Worker #<%= @worker.id %></h1>
    <div class="mb-2 mb-md-0 mx-auto w-25 ms-2">
    <%= link "Back", to: Routes.worker_path(@conn, :index), class: "btn btn-warning" %>
    </div>
  </div>

  <ul>

    <li>
    <strong>Provider:</strong>
    <%= @worker.provider %>
  </li>

  <li>
    <strong>Status:</strong>
    <%= @worker.status %>
  </li>

  <li>
    <strong>Remote:</strong>
    <%= @worker.remote_id %>
  </li>

  <li>
    <strong>Ipv4:</strong>
    <%= @worker.ipv4 %>
  </li>

  <li>
    <strong>Password:</strong>
    <%= @worker.password %>
  </li>
  </ul>
  <span><%= link "Edit", to: Routes.worker_path(@conn, :edit, @worker) %></span>
</div>
