<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="mb-3">
    <fieldset class="border p-4 m-1">
      <legend>Parameters</legend>
      <div class="row g-3 m-1 p-1">
        <div class="col-md-12">
          <%= label f, :name, class: "form-label" %>
          <%= text_input f, :name, class: "form-control" %>
          <%= error_tag f, :name %>
        </div>

        <div class="col-md-6">
          <%= label f, :rps, class: "form-label" %>
          <%= number_input f, :rps, class: "form-control" %>
          <%= error_tag f, :rps %>
        </div>

        <div class="col-md-6">
          <%= label f, :duration, class: "form-label" %>
          <%= number_input f, :duration, class: "form-control" %>
          <%= error_tag f, :duration %>
        </div>
      </div>

      <fieldset class="border p-4 m-3">
        <legend>Nodes</legend>
        <% locations = @locations |> Enum.uniq_by(&(&1.country)) |> Enum.sort_by(&(&1.country)) |> Enum.chunk_every(6) %>
        <%= for chunk <- locations do %>
        <div class="row g-3 m-1 p-1">
          <%= for location <- chunk do %>
          <div class="col-md-2">
            <div class="input-group">
              <span class="input-group-text"><%= location.country %></span>
              <%= text_input f, :"locations[#{location.country}]", class: "form-control col-md-1" %>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
        <div class="row g-3 m-1 p-1">
          <h4>Total: <span id="total_nodes_counter">0</span></h4>
        </div>
      </fieldset>
    </fieldset>

    <fieldset class="border p-4 m-1">
      <legend>Requests</legend>
      <%= dynamic_inputs_for f, :requests, %DLT.Tests.Scenario.Request{}, fn r -> %>
        <div class="row g-1 m-1 p-1">
          <div class="col-md-1">
            <%= select r, :method, ["GET": "get", "POST": "post"], prompt: "Method", class: "form-select" %>
          </div>
          <div class="col-md-11">
            <div class="input-group">
              <%= text_input r, :url, class: "form-control", placeholder: "https://target.com" %>
            </div>
          </div>
        </div>
        <div class="row g-1 m-1 p-1">
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-text col-md-2">Headers</span>
              <%= textarea r, :headers, class: "form-control col-md-11", placeholder: "Accept-Language: en-us\nContent-type: text/html" %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <span class="input-group-text col-md-2">Body</span>
              <%= textarea r, :body, class: "form-control col-md-11" %>
            </div>
          </div>
        </div>
        <div class="row g-1 m-1 p-1">
          <div>
            <%= dynamic_add_button :requests, "Add request", class: "btn btn-outline-secondary" %>
            <%= dynamic_delete_button "Delete request", class: "btn btn-outline-secondary" %>
          </div>
        </div>
      <% end%>
    </fieldset>
  </div>

  <div>
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
