<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Scenarios</h1>
    <div class="mb-2 mb-md-0 mx-auto w-25 ms-2">
      <%= link "New Scenario", to: Routes.scenario_path(@conn, :new), class: "btn btn-primary" %>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Nodes</th>
          <th>RPS</th>
          <th>Duration</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= for scenario <- @scenarios do %>
        <tr>
          <td><%= scenario.id %></td>
          <td><%= scenario.name %></td>
          <td><%= scenario.nodes %></td>
          <td><%= scenario.rps %></td>
          <td><%= scenario.duration %></td>

          <td>
            <%= form_for @conn, Routes.scenario_path(@conn, :start_session), fn f -> %>
              <%= hidden_input f, "id", value: scenario.id %>
              <span>
                <%= if has_session_started?(scenario) do %>
                <%= submit "Session running", class: "btn btn-success btn-sm", disabled: true %>
                <% else %>
                <%= submit "Start session", class: "btn btn-success btn-sm" %>
                <% end %>
              </span>

              <span><%= link "Show", to: Routes.scenario_path(@conn, :show, scenario), class: "btn btn-info btn-sm" %></span>
              <span><%= link "Edit", to: Routes.scenario_path(@conn, :edit, scenario), class: "btn btn-warning btn-sm" %></span>
              <span><%= link "Delete", to: Routes.scenario_path(@conn, :delete, scenario), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-sm" %></span>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="7"><%= link "New Scenario", to: Routes.scenario_path(@conn, :new), class: "btn btn-primary" %></td>
        </tr>
      </tfoot>
    </table>
  </div>
</main>
