<%= if is_nil(@session) do %>
<h3>No sessions has been run yet</h3>
<% else %>
<h3>Session #<%= @session.id %></h3>
<div>
  <ul>
    <li>Status: <%= @session.status %></li>
    <% results = session_results(@session) %>
    <% responses_by_codes = responses_count_by_codes(@session) %>
    <li>Response time avg.: <%= session_grand_average_response_time(results) %></li>
    <li>Responses successful: <%= responses_by_codes.success %></li>
    <li>Responses error: <%= responses_by_codes.error %></li>
    <li>Responses timeout: <%= responses_by_codes.timeout %></li>
    <li>Responses network error: <%= responses_by_codes.network %></li>
    <li>Results: <%= inspect(results) %></li>
  </ul>
</div>
<% end %>
