<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Scenario #<%= @scenario.id %></h1>
    <div class="mb-2 mb-md-0 mx-auto w-25 ms-2">
    <%= link "Back", to: Routes.scenario_path(@conn, :index), class: "btn btn-warning" %>
    </div>
  </div>

  <ul>

    <li>
      <strong>Name:</strong>
      <%= @scenario.name %>
    </li>
    <li>
      <strong>Duration:</strong>
      <%= @scenario.duration%>
    </li>
    <li>
      <strong>RPS:</strong>
      <%= @scenario.rps %>
    </li>
    <li>
      <strong>Nodes:</strong>
      <%= @scenario.nodes %>
    </li>
  </ul>
  <div>
    <%= render "session.html", assigns %>
  </div>
  <span><%= link "Edit", to: Routes.scenario_path(@conn, :edit, @scenario) %></span>
</div>
